/enterprise-application-common/EJBClient/target
/enterprise-application-common/enterprice-java-application/enterprice-java-application-ear/nb-configuration.xml
/enterprise-application-common/enterprice-java-application/enterprice-java-application-ear/target
/enterprise-application-common/enterprice-java-application/enterprice-java-application-ejb/target
/enterprise-application-common/enterprice-java-application/enterprice-java-application-web/target
/enterprise-application-common/enterprice-java-application/enterprice-java-application-web/nb-configuration.xml
